@import "bootstrap-sprockets";
@import "bootstrap";

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid gray;
    color: gray;
    a {
      color: $gray;
      /*It means: that a:hover */
      &:hover{
        color: $gray-darker;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
}