<footer>
  <small>
    <%= link_to 'Contact List. All rights reserved.', root_path %>
  </small>

  <nav>
    <ul>
      <li>
      <a href="#">About</a>
        <%# <%= link_to 'About', sobre_path %>
      </li>
      <li>
      <a href="#">Contact</a>
        <%# <%= link_to 'Contact', contato_path %>
      </li>
    </ul>
  </nav>
</footer>